body {
  background: #3a3939;
  font-family: sans-serif;
}
table {
  width: 600px;
  border-spacing: 0;
  border: 3px solid #5e5b5b;
  border-radius: 10px;
  margin: 30px;
  color: #cecfcd;
}
td {
  border-bottom: 1px solid #5e5b5b;
  padding: 10px;
}
.fri {
  font-size: 10px;
}
.ligh {
  color: hsl(0, 3%, 59%);
}
.imegn {
  float: right;
  width: 50px;
}
