body {
  background: #3a3939;
  font-family: sans-serif;
}
table {
  border: 3px solid #5e5b5b;
  border-collapse: separate;
  border-spacing: 0px 0px;
  width: 700px;
  border-radius: 10px;
  margin: 20px;
  color: #cecfcd;
  font-size: 15px;
  table-layout: fixed;
}
td:first-child {
  width: 15%;
}

td {
  border-bottom: 1px solid #5e5b5b;
  height: 35px;
  padding: 0px 10px;
}
.fri {
  font-size: 15px;
}
.ligh {
  color: hsl(0, 3%, 59%);
}
.imegn {
  float: right;
  width: 18%;
}
.search {
  border: 0px solid #3a3939;
  width: 200px;
  border-radius: 5px;
  background: #5e5b5b;
  color: #cecfcd;
  height: 30px;
  width: 185px;
  outline: none;
}
